<deployment>
   <hosts>
    <host name="localhost"
          dir="/Users/jmalenfant/principal/Components/dht"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="admin"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="fr.sorbonne_u.components.dht.DistributedCVM"/>
    <jvm2hostname jvmuri="nodes"
        rmiRegistryCreator="false"
        	hostname="localhost"
        mainclass="fr.sorbonne_u.components.dht.DistributedCVM"/>
  </jvms2hostnames>
</deployment>